@font-face {
  font-family: 'Gilroy-Bold';
  src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url(./font/Gilroy-Semibold.woff2);
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url(./font/Gilroy-Regular.woff2);
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  scroll-behavior: smooth;
  background: #FFF;
}

img{
  display: block;
  max-width: 100%;
}

h1, p, a, button {
  color: black;
  font-family: 'Gilroy-Bold', 'Gilroy-Semibold', 'Gilroy-Medium';
  font-weight: 400;
}

.container {
max-width: 1170px;
margin: 0 auto;
}

.header {
padding: 51px 0px;
margin-bottom: 22px;
}

.navigation {
display: flex;
justify-content: space-between;
gap: 683px;
}

.red{
color: red;
font-family: Gilroy-SemiBold;
font-size: 14px;

}
.navigation a {
font-family: Gilroy-Medium;
font-size: 14px;
}

.mainContent {
display: flex;
vertical-align: text-top;
justify-content: space-between;
margin-bottom: 89px;
}

.mainContent__Text {}

.mainContent__Text h1 {
font-family: Gilroy-Bold;
font-size: 60px;
line-height: normal;
margin-bottom: 17px;
max-width: 522px;
}

.mainContent__Text p {
color: #888;
font-family: Gilroy-Medium;
font-size: 20px;
line-height: normal;
margin-bottom: 37px;
max-width: 466px;
}

.mainContent__Text-btn {
display: flex;
gap: 72px;
align-items: center;
}

.btnStart {
padding: 15px 35px;
border-radius: 50px;
background: #F25822;
box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
color: #FFF;
font-family: Gilroy-Bold;
font-size: 15px;
border: none;
cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  font-family: Gilroy-Bold;
  text-align: center;
  text-decoration: none;
  background-color: #3f51b5;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}
.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ff5722;
  transform-origin: left;
  transition: transform 0.5s ease;
}
.btn:hover:before {
  transform: translateX(100%) rotate(360deg);
}
.btn span {
  position: relative;
  z-index: 2;
}
.btn:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff5722;
  font-size: 16px;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.btn:hover:after {
  visibility: visible;
  opacity: 1;
}

.btnStart_2 {
  padding: 5px 15px;
  border-radius: 50px;
  background: #F25822;
  box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
  color: #FFF;
  font-family: Gilroy-Bold;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.WhiteButton {
background: none;
border: none;
font-family: Gilroy-Bold;
font-size: 15px;
padding: 15px 40px;
}

.logos{
display: flex;
justify-content:space-between;
gap: 48px;
}

.upper_objects {
display: grid;
grid-template-columns: repeat(3, 1fr);
margin-top: 100px;
gap: 60px;
}

.panels {
border-radius: 10px;
padding: 30px;
display: flex;
gap: 30px;
align-items: flex-start;
text-align: justify;
flex-direction: column;
}
.panels_center {
background: #FFF;
box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.img_one {
margin-top: 20px;
}

.panels h2 {
font-family: Gilroy-Bold;
font-size: 24px;
font-weight: 400;
line-height: normal;
}

.panels p {
width: 310px;
min-height: 42px;
color: #666;
font-family: Gilroy-Regular;
font-size: 15px;
font-weight: 400;
line-height: 150%;
}

.panels a {
font-size: 11px;
line-height: 150%;
}

.panels_2 {
background: #FAFAFA;
text-align: center;
margin-top: 92px;
}

.shadow_panel_bottom_2 {
background: #FFF;
box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.shadow_panel_bottom_1_3 {
background: #FFF;
}

.bottom_panel {
background: #FAFAFA;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 30px;
}

.bottom_panel h1 {
text-align: center;
margin-top: 92px;
font-family: Gilroy-Bold;
font-size: 45px;
font-weight: 400;
}

.p_second_block_1 {
color: #666;
font-family: Gilroy-Regular;
font-size: 16px;
font-weight: 400;
line-height: 150%;
margin-top: 19px;
display: flex;
justify-content: center;
}

.bottom_panel h2 {
font-family: Gilroy-Bold;
font-size: 24px;
font-weight: 400;
}

.h2SEO {
margin-top: 15px;
}

.p_second_block_2 {
color: #AAA;
text-align: center;
font-family: Gilroy-Regular;
font-size: 15px;
font-weight: 400;
line-height: 150%;
margin-top: 22px;
}

.btn2 {
padding: 15px 35px;
border-radius: 50px;
background: #F25822;
box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
color: #FFF;
font-family: Gilroy-Bold;
font-size: 13px;
border: none;
cursor: pointer;
margin-bottom: 50px;
margin-top: 40px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
.modal-dialog {
    max-width: 500px;
    margin: 30px auto;
}
}

.modal-content {
  font-family: Gilroy-Regular;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
}

.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

.close:focus, .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}

.modal-body {
position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}



